<!DOCTYPE html>
<html lang="de">
<head>
<style>
{{CSS}}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<base href="{{baseurl}}">
</head>
   <body>
    {{body}}
   </body>
</html>